@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Great+Vibes&family=Italianno&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;700;800&display=swap");
::-moz-selection {
  color: wheat;
  background: #767676;
}
::selection {
  color: wheat;
  background: #767676;
}

*,
html {
  scroll-behavior: smooth !important;
}

.element {
  display: inline-block;
  padding-bottom: 3px;
}

.element:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  -webkit-animation: underline 2s infinite;
          animation: underline 2s infinite;
}

@-webkit-keyframes underline {
  0% {
    width: 0%;
    background-color: wheat;
  }
  100% {
    width: 100%;
    background-color: transparent;
  }
}

@keyframes underline {
  0% {
    width: 0%;
    background-color: wheat;
  }
  100% {
    width: 100%;
    background-color: transparent;
  }
}

#loader {
  border: 12px solid wheat;
  border-radius: 50%;
  border-top: 12px solid #202020;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.c {
  overflow-x: hidden;
  height: 100vh;
}

.c section {
  min-height: 100vh;
}

.c section:nth-of-type(1) {
  background: #1d1d1c;
  background: url(/imgs/mont-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.c section:nth-of-type(1) nav h1 {
  color: aliceblue;
  text-shadow: 2px 2px 1px black;
}

.c section:nth-of-type(1) .nav2 {
  background: rgba(0, 0, 0, 0.411);
  color: #fff;
}

.c section:nth-of-type(1) .nav2 a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 1.3rem;
  font-weight: 300;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.c section:nth-of-type(1) .nav2 a:hover {
  color: wheat;
}

.c section:nth-of-type(1) .nav2 a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.c section:nth-of-type(1) .nav2 a:hover:after {
  width: 100%;
  left: 0;
}

.c section:nth-of-type(1) .nav2 button {
  letter-spacing: 0.1em;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
}

.c section:nth-of-type(1) .nav2 button:hover {
  color: wheat;
}

.c section:nth-of-type(1) .nav2 ul a {
  color: black;
}

.c section:nth-of-type(1) .nav2 ul a:hover {
  color: black;
  background: gray;
}

.c section:nth-of-type(1) .discover {
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 1111;
}

.c section:nth-of-type(1) .discover a {
  text-decoration: none;
  background: black;
  color: white;
  padding: 8px;
  border: 1px outset wheat;
  border-radius: 20px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Black Ops One", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.c section:nth-of-type(1) .discover a:hover {
  color: wheat;
  background: #2b2b2b;
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  .c section:nth-of-type(1) .discover {
    top: 20px;
    right: 20px;
  }
  .c section:nth-of-type(1) .discover a {
    font-size: 20px;
  }
}

.c section:nth-of-type(1) .ourStroy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.c section:nth-of-type(1) .ourStroy .txto {
  color: wheat;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
}

.c section:nth-of-type(1) .ourStroy .txto h2 {
  font-weight: 400;
  font-size: 5vmax;
  font-family: "Italianno", sans-serif;
}

.c section:nth-of-type(1) .ourStroy .txto p {
  margin: auto;
}

@media (min-width: 768px) {
  .c section:nth-of-type(1) .txto p {
    font-size: 25px;
  }
}

@media (max-width: 575.98px) {
  .c section:nth-of-type(1) .ourStroy {
    margin-top: 10vw;
  }
}

.c section:nth-of-type(2) {
  background: #3d474e;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  border-top: 5px white solid;
  border-bottom: 5px white solid;
}

.c section:nth-of-type(2) div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
}

.c section:nth-of-type(2) div img {
  width: 30%;
  padding: 50px 20px;
}

.c section:nth-of-type(2) div p {
  padding: 40px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 575.98px) {
  .c section:nth-of-type(2) div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c section:nth-of-type(2) div img {
    width: 50%;
    padding-top: 20px;
  }
}

.c section:nth-of-type(3) {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background: #313131;
  border-bottom: 20px #363535 double;
}

.c section:nth-of-type(3) h1 {
  color: wheat;
  font-family: "Italianno", cursive;
}

.c section:nth-of-type(3) a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.c section:nth-of-type(3) a:hover {
  color: wheat;
}

.c section:nth-of-type(3) p {
  color: white;
}

.c section:nth-of-type(3) .d-up {
  z-index: 1;
}

.c section:nth-of-type(3) .d-up ul {
  background: #434341 !important;
  border: 4px solid white;
}

.c section:nth-of-type(3) .d-up ul li a {
  color: white !important;
}

.c section:nth-of-type(3) .d-up ul li a:hover {
  color: wheat;
  background: #6a6a6a !important;
}

.c section:nth-of-type(3) .socialMedia a {
  cursor: default;
}

.c section:nth-of-type(3) .socialMedia a:hover {
  color: white;
}

.c section:nth-of-type(3) .socialMedia a i {
  font-size: 32px;
  cursor: pointer;
}

.c section:nth-of-type(3) .socialMedia a i:hover {
  color: wheat;
}

.c section .vehicles img {
  border: 2px wheat solid;
  -webkit-box-shadow: 1px 1px 1px wheat;
          box-shadow: 1px 1px 1px wheat;
}

.modal-header {
  border-bottom: wheat 1px solid;
}

.modal-footer {
  border-top: 1px wheat solid;
}

.modal-content {
  background: #000000;
}

.carousel-item img {
  border: 2px wheat solid;
}

.carousel-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-inner img {
  width: 100%;
  height: 80vh;
}

.contact-form {
  width: 600px;
}

.contact-form #country {
  background: #333;
  border: none;
}

.contact-form input {
  background: #333;
  padding: 10px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid white;
}

.contact-form input:focus {
  outline: none;
  border-bottom: 1px solid wheat;
}

.contact-form input::-webkit-input-placeholder {
  color: white;
}

.contact-form input:-ms-input-placeholder {
  color: white;
}

.contact-form input::-ms-input-placeholder {
  color: white;
}

.contact-form input::placeholder {
  color: white;
}

.contact-form .submit {
  color: black;
  background: wheat;
}

.contact-form .submit:hover {
  color: #292828;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 1111;
}

.popup {
  background: #1d1d1c;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

.popup h2 {
  color: white;
}

.popup .close {
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  border: 5px wheat solid;
  border-radius: 50%;
  padding: 0 15px;
}

.popup .close:hover {
  color: white;
}

@media (max-width: 767.98px) {
  .c section:nth-of-type(1) .nav2 a {
    font-size: 0.9rem;
  }
  .c section:nth-of-type(1) .nav2 button {
    font-size: 1rem;
    font-family: 300;
  }
  .c section .about img {
    width: 75%;
  }
}

button.accordion {
  width: 100%;
  background-color: #575757;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: "\f055";
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: "\f056";
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #2c2626;
  color: wheat;
}

.accordion-content {
  text-align: start;
  background-color: #1a1a1a;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

.accordion-content p {
  color: white !important;
  padding: 30px 0;
}
/*# sourceMappingURL=about.css.map */