// .c {
//   overflow-x: hidden;
//   height: 100vh;

//   section {
//     min-height: 100vh;
.c {
  overflow-x: hidden;
  height: 100vh;

  section {
    min-height: 100vh;
    scroll-behavior: smooth;
    position: relative;
    height: fit-content;

    .se2 {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      align-items: center;
      p {
        font-family: "Italianno", cursive;
        font-size: 4.4vmin;
        width: 50%;
        color: white;
      }
      img {
        width: 50%;
        max-width: 700px;
        border: 5px rgb(255, 255, 255) outset;
      }
    }
    @media (max-width: 767.98px) {
      .se2 {
        p {
          font-size: 7vmin;
          width: 80%;
        }
        img {
          width: 80%;
        }
      }
    }
    &:nth-of-type(1) {
      position: relative;
      background: rgb(29, 29, 28);
      background: url(/imgs/car8.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .ox2 {
        font-size: 10vw;
        color: white;
        text-shadow: 3px 3px 3px black;
        font-family: "italiano";
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      .nav2 {
        background: rgba(255, 255, 255, 0.705);

        a {
          color: rgb(0, 0, 0);
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.15em;
          font-size: 1.3rem;
          font-weight: 300;
          display: inline-block;
          padding: 15px 20px;
          position: relative;
          &:hover {
            color: rgb(247, 195, 100);
            font-weight: 400;
            text-shadow: 2px 2px 2px black;
          }
        }
        a:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: rgb(77, 53, 3);
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        a:hover:after {
          width: 100%;
          left: 0;
        }
        button {
          letter-spacing: 0.1em;
          color: white;
          font-size: 1.3rem;
          font-weight: 300;
          &:hover {
            color: wheat;
          }
        }
        ul {
          a {
            color: black;
            &:hover {
              color: rgb(0, 0, 0);
              background: gray;
            }
          }
        }
      }
    }
    &:nth-of-type(2) {
      color: white;
      background-color: #000000;
    }
    &:nth-of-type(3) {
      background: #000000;
      scroll-behavior: smooth;
      min-height: fit-content;
      .cbx {
        margin-top: 150px;
        margin-bottom: 150px;
      }
    }

    &:last-child {
      background: #000000;
      min-height: 500px;

      h1 {
        color: wheat;
        font-family: "Italianno", cursive;
      }
      a {
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        &:hover {
          color: wheat;
        }
      }
      p {
        color: white;
      }
      .d-up {
        z-index: 1;
        ul {
          background: rgb(67, 67, 65) !important;
          border: 4px solid white;

          li {
            a {
              color: rgb(255, 255, 255) !important;
              &:hover {
                color: wheat;
                background: rgb(106, 106, 106) !important;
              }
            }
          }
        }
      }
      .socialMedia {
        a {
          cursor: default;
          &:hover {
            color: white;
          }
          i {
            font-size: 32px;
            cursor: pointer;
            &:hover {
              color: wheat;
            }
          }
        }
      }
    }

    .vehicles {
      img {
        border: 2px wheat solid;
        box-shadow: 1px 1px 1px wheat;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .c section:nth-of-type(1) .nav2 a {
    font-size: 0.9rem;
  }
  .c section:nth-of-type(1) .nav2 button {
    font-size: 1rem;
    font-family: 300;
  }
  .c section .about img {
    width: 75%;
  }
}
