.c {
  overflow-x: hidden;
  height: 100vh;
}
.c section {
  min-height: 100vh;
  scroll-behavior: smooth;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.c section:nth-of-type(1) {
  background: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(60%, #3d474e));
  background: linear-gradient(to bottom right, black, #3d474e 60%);
  background: url(/imgs/mbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.c section:nth-of-type(1) nav h1 {
  color: aliceblue;
  text-shadow: 2px 2px 1px black;
}
.c section:nth-of-type(1) .nav2 {
  background: rgba(245, 222, 179, 0.664);
  color: #fff;
}
.c section:nth-of-type(1) .nav2 a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 1.3rem;
  font-weight: 300;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.c section:nth-of-type(1) .nav2 a:hover {
  color: black;
}
.c section:nth-of-type(1) .nav2 a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.c section:nth-of-type(1) .nav2 a:hover:after {
  width: 100%;
  left: 0;
}
.c section:nth-of-type(1) .nav2 button {
  letter-spacing: 0.1em;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
}
.c section:nth-of-type(1) .nav2 button:hover {
  color: wheat;
}
.c section:nth-of-type(1) .nav2 ul a {
  color: black;
}
.c section:nth-of-type(1) .nav2 ul a:hover {
  color: black;
  background: gray;
}
.c section:nth-of-type(1) .discover {
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 1111;
  width: 280px;
}
.c section:nth-of-type(1) .discover a {
  text-decoration: none;
  background: black;
  color: white;
  padding: 8px;
  border: 1px outset wheat;
  border-radius: 20px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Black Ops One", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  width: 100%;
}
.c section:nth-of-type(1) .discover a:hover {
  color: wheat;
  background: #2b2b2b;
  border-radius: 20px;
}
.c section:nth-of-type(1) .ourStroy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.c section:nth-of-type(1) .ourStroy .txto {
  color: wheat;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
}
.c section:nth-of-type(1) .ourStroy .txto h2 {
  font-weight: 400;
  font-size: 5vmax;
  font-family: "Italianno", sans-serif;
}
.c section:nth-of-type(1) .ourStroy .txto p {
  margin: auto;
  font-family: "sans-serif", sans-serif;
}
@media (min-width: 768px) {
  .c section:nth-of-type(1) .txto p {
    font-size: 25px;
  }
}
@media (max-width: 575.98px) {
  .c section:nth-of-type(1) .ourStroy {
    margin-top: 10vw;
  }
}
@media (max-width: 300px) {
  .c section:nth-of-type(1) .discover {
    position: relative;
    margin-top: 9px;
  }
}
.c section:nth-of-type(2) {
  background: #141a28;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  border-top: 5px wheat solid;
  border-bottom: 2px wheat solid;
}
.c section:nth-of-type(2) div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
}
.c section:nth-of-type(2) div img {
  width: 30%;
  padding: 50px 20px;
}
.c section:nth-of-type(2) div p {
  color: wheat;
  text-shadow: 1px 1px 1px black;
  padding: 40px;
  font-family: "sans-serif", sans-serif;
}
@media (max-width: 575.98px) {
  .c section:nth-of-type(2) div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c section:nth-of-type(2) div img {
    width: 50%;
    padding-top: 20px;
  }
}
.c section:last-child {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background: #141a28;
  border-bottom: 20px #363535 double;
}
.c section:last-child h1 {
  color: wheat;
  font-family: "Italianno", cursive;
}
.c section:last-child a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.c section:last-child a:hover {
  color: wheat;
}
.c section:last-child p {
  color: white;
}
.c section:last-child .d-up {
  z-index: 1;
}
.c section:last-child .d-up ul {
  background: #434341 !important;
  border: 4px solid white;
}
.c section:last-child .d-up ul li a {
  color: white !important;
}
.c section:last-child .d-up ul li a:hover {
  color: wheat;
  background: #6a6a6a !important;
}
.c section:last-child .socialMedia a {
  cursor: default;
}
.c section:last-child .socialMedia a:hover {
  color: white;
}
.c section:last-child .socialMedia a i {
  font-size: 32px;
  cursor: pointer;
}
.c section:last-child .socialMedia a i:hover {
  color: wheat;
}
.c section .vehicles img {
  border: 2px wheat solid;
  -webkit-box-shadow: 1px 1px 1px wheat;
          box-shadow: 1px 1px 1px wheat;
}

@media (max-width: 767.98px) {
  .c section:nth-of-type(1) .nav2 a {
    font-size: 0.9rem;
  }

  .c section:nth-of-type(1) .nav2 button {
    font-size: 1rem;
    font-family: 300;
  }

  .c section .about img {
    width: 75%;
  }
}